// COLORS
$color-primary: #159BC4;
$color-secondary: #333030;
$color-tertiary: #AF2F2F;
$color-bg: #FFFCF4;
$color-gray: #dbd9d9;

// FONT
$font-family-heading: 'Quicksand', sans-serif;

// BREAKPOINT
$tablet: 768px;
$desktop: 992px;
$desktop-md: 1200px;