.i-hamburger {
    $p: &;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    right: 15px;
    z-index: 1000;

    &__line {
        width: 25px;
        height: 2px;
        background: $color-secondary;
        position: absolute;
        border-radius: 5px;
        right: 0;
        transition: all 0.2s cubic-bezier(0.43, 2.13, 1, 1);
    }

    .line1 {
        top: 0;
    }

    .line2 {
        top: 7px;
        width: 15px;
    }

    .line3 {
        top: 14px;
        width: 20px;
    }

    &.active {
        .line1 {
            transform: rotate(45deg);
            top: 7px;
        }

        .line3 {
            transform: rotate(135deg);
            width: 25px;
            top: 7px;
        }

        .line2 {
            opacity: 0;
        }
    }
}